<div class="syntax">
  {{#if word1}}  
  <div class="word">
    <p class="nama-word"><strong>{{word1}}</strong></p>
    <p><em>{{break1}}</em></p>
  </div>
  {{/if}}
  {{#if word2}}  
    <div class="word">
    <p class="nama-word"><strong>{{word2}}</strong></p>
    <p><em>{{break2}}</em></p>
  </div>
  {{/if}}  
  {{#if word3}}
  <div class="word">
    <p class="nama-word"><strong>{{word3}}</strong></p>
    <p><em>{{break3}}</em></p>
  </div>
  {{/if}}    
  {{#if word4}}    
  <div class="word">
    <p class="nama-word"><strong>{{word4}}</strong></p>
    <p><em>{{break4}}</em></p>
  </div>
  {{/if}}
  {{#if word5}}      
  <div class="word">
    <p class="nama-word"><strong>{{word5}}</strong></p>
    <p><em>{{break5}}</em></p>
  </div>
  {{/if}}
  {{#if word6}}  
  <div class="word">
    <p class="nama-word"><strong>{{word6}}</strong></p>
    <p><em>{{break6}}</em></p>
  </div>
  {{/if}}
  {{#if word7}}  
  <div class="word">
    <p class="nama-word"><strong>{{word7}}</strong></p>
    <p><em>{{break7}}</em></p>
  </div>
  {{/if}}
  {{#if word8}}  
  <div class="word">
    <p class="nama-word"><strong>{{word8}}</strong></p>
    <p><em>{{break8}}</em></p>
  </div>
  {{/if}}  
<p>"{{english}}"</p>
</div>
