<h1>Gender Replacement</h1>
<p>For inaminate objects, which receive a random gender marker, changing to the opposite gender marker will indicate an object's unusual size.<sup id="cite_ref-1" class="reference"><a href="#accordion" data-toggle="tooltip" title="Hagman 1977:23">[1]</a></sup></p>
<div class="col-md-6">
{{syntax-list
word1="pén-i"
break1="the pen-M"
english="The pen"}}
</div>
<div class="col-md-6">
{{syntax-list
word1="pén-s"
break1="the pen-F"
english="The unusually fat pen"}}
</div>
<p>Normally, the word péni is marked with the masculine -i suffix, but when using the feminine marker -s, it makes the pen unusually large.  This also occurs to add a derogatory context to an object, as seen in the example below: </p>
<div class="col-md-6">
{{syntax-list
word1="sam-s"
break1="the breast-F"
english="The breast"}}
</div>
<div class="col-md-6">
{{syntax-list
word1="sami-i"
break1="the  breast-M"
english="The big ugly breast"}}
</div>
<p>Usually, gender replacement occurs in words indicating an unusally large size, but in some instances, mark an unusually small size of an object, mainly when the object in question is normally large: </p>
<div class="col-md-6">
{{syntax-list
word1="xãa-s"
break1="the penis-F"
english="The penis"}}
</div>
<div class="col-md-6">
{{syntax-list
word1="xãa-p"
break1="the  penis-M"
english="The small penis"}}
</div>