<h1>Verb Morphology</h1>
<p>Verbs can be formed by adding a suffix to change its meaning, or by compounding verbs.</p>
<h3>Suffixes</h3>
<p>There are a few suffixes worth mentioning that are used with verbs to change its meaning.  They are:</p>
<ul>
  <li><span>-ró</span> - 'a bit,'</li>
  <li><span>-sóreǂʔãa</span> - 'all day'</li>
  <li><span>-kǂháí</span> - 'all night'</li>
  <li><span>-mãa</span> - 'around'</li>
  <li><span>-re</span> - 'look for/after'</li>
</ul>
<p>The suffix -re, unlike the others, is able to turn a noun root into a verb, as shown in this example: kòmap 'the bull', with the edition of the -re suffix becomes  kòmare, which changes the meaning to 'look after cattle'</p>
<hr>
<h3>Compound verbs</h3>
<p>Combining two verbs makes another verb.</p>

{{syntax-list
word1="mũu"
word2="-ǂʔán"
break1="see"
break2="know"
english="recognize"}}

<p>Adding a postposition to a verb makes for a new verb, which is not a verb by itself.</p>
{{syntax-list
word1="koó"
word2="-ǀʔĩi"
break1="look"
break2="towards"
english="look upon (as)"}}
<p>Nouns can also be added to verbs to make new verbs.</p>
{{syntax-list
word1="kǁhae"
word2="-ǂʔáó"
break1="curb"
break2="heart"
english="console"}}
<hr>
<h3>Reduplication</h3>
<p>Combining the same verb twice, therefore changing its meaning is known as reduplication, which marks a causation of the verb.</p>

{{syntax-list
word1="!ʔóm"
word2="-!ʔóm"
break1="difficult"
break2="difficult"
english="to make (things) difficult"}}

<p>With reduplication, if the first verb has a high tone, the following verb is lowered from high to mid.</p>
<p>Reduplication also notes a repeating of an action, by inserting the suffix -ka, as shown in the example:</p>
{{syntax-list
word1="h!óá"
word2="-ka"
word3="-h!óá"
break1="talk"
break2="over.and.over"
break3="talk"
english="talk over and over"}}