<h1>Verb Phrases</h1>
<h3>Active Verb</h3>
{{syntax-list
word1="ǁʔĩi-p"
word2="ke"
word3="ʔáo-p-à"
word4="kè"
word5="ǂʔaí."
break1="3SG-M"
break2="DECL"
break3="man-3SG-M-OBJ"
break4="RMT.PST"
break5="call"
english="He called the man."}}
<hr>
<h3>Stative Verb</h3>
{{syntax-list
word1="ʔáo-p"
word2="ke"
word3="kè"
word4="!ʔáĩ"
word5="ʔií."
break1="Person-M"
break2="DECL"
break3="RMT.PST"
break4="good"
break5="COP"
english="The man was good."}}
<p>Stative verbs use the copula <span>ʔií.</span></p>
<hr>
<h3>Passive Verb</h3>
{{syntax-list
word1="k!hóo-kxòe-ku"
word2="ke"
word3="!ʔũí-ʔáo-ku"
word4="xaa"
word5="kè"
word6="mĩípa-hè"
break1="Catch-person-3PL"
break2="DECL"
break3="watch.over-man-3PL"
break4="by"
break5="RMT.PST"
break6="tell-PASS"
english="The prisoners were told by the guards."}}
<p>Passive verbs are marked by the passive suffix <span>-hè</span>.</p>
<hr>
<h3>Reflexive Verb</h3>
{{syntax-list
word1="tiíta"
word2="ke"
word3="ra"
word4="kǁhaa-kǁhaa-sn"
break1="1SG-M"
break2="DECL"
break3="IMP.PRES"
break4="teach-teach-REFL"
english="I am learning."}}
<p>Reflexive verbs are marked by the passive suffix <span>-sn</span>.</p>
<hr>
<h3>Reciprocal Verb</h3>
{{syntax-list
word1="saá-tà"
word2="ke"
word3="nìí"
word4="mùũ-ku"
break1="1ST-COMPLINC"
break2="DECL"
break3="FUT"
break4="see-REC"
english="We shall see one another."}}
<p>Reciprocal verbs are marked by the reciprocal suffix <span>-ku</span>, which only appears on a verb with dual/plural subjects.</p>
<hr>
<h3>Applicative Verb</h3>
{{syntax-list
word1="ǁʔĩi-p"
word2="ke"
word3="tií-tà"
word4="kò"
word5="mĩí-pa..."
break1="3SG-M"
break2="DECL"
break3="1SG"
break4="REC.PST"
break5="say-APP..."
english="He just said to me..."}}
<p>Applicative verbs are marked with the applicative suffix <span>-pa</span>. 'to'</p>